ul, a{
    list-style: none;
    text-decoration: none;
}
.movie_container{
    padding: 20px;
}

.movie_details{
    display: flex;
    gap: 15px;
    margin-top: 15px;

}

.inform_link_list{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.goback{
    color: black;

}